.container {
    height: 100vh;
    width: 100vw;

    border-radius: 0px;
}

.sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--mat-sys-secondary-container);

}

.sidenav {
  padding: 20px;
 // background: var(--mat-sys-primary-container, 80);
  background: rgba(var(--mat-sys-primary-container), 1);

  border-radius: 0px;

}

.title {
  font: var(--mat-sys-headline-medium);
  color: var(--mat-sys-on-secondary-60);
}